@import "../../styles/variables.scss";

.carousel-component {
    margin-bottom: 20px;

    .carousel-container {
        height: 100%;

        .slick-slide {
            height: 300px;
        }

        .info-carousel-item {
            background-color: $black;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 2%;
            color: $white;
            opacity: 0.7;

            .description-container {
                p {
                    margin: 0;
                    text-align: justify;
                }
            }
        }
    }
}
