@import "../../styles/variables.scss";

.details-container {

    img {
        margin-bottom: 20px;
    }

    p {
        text-align: justify;
    }


    .divider {
        margin: 40px 0;
    }
    
}
